/* Reset styles */

/* Aquí definimos las Custom properties */
:root {
    --negro: #393939;
    --oscuro: #164B60;
    --verde: #A2FF86;
    --fondo: #1B6B93;
    --claro: #4FC0D0;
    /* Tipografía */
    --tipo-principal: 'Poppins', sans-serif;
    --tipo-secundaria: Verdana;
  }
  
  /* Las adaptamos al modo oscuro */
  @media (prefers-color-scheme: dark) {
    :root {
      --blanco: #ececec;
    }
  }
  /* Opcional */
  /* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
  /* Opcional */
  /* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
  @media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
              animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }
  /* Reseteamos los margin y paddings de todas las etiquetas */
  * {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  
  /* Evitamos problemas con las imagenes */
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
       object-fit: cover;
    /* opcional */
    -o-object-position: center center;
       object-position: center center;
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  /* Configuramos el texto que seleccionamos */
  ::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  ::selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  /* Nivelamos problemas de tipografías y colocación de formularios */
  form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  /* Reseteamos las tablas */
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Evitamos problemas con los SVG */
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
  
  /* (Probándolo, no usar en producción) En el caso de añadir una  */
  /* p svg{
    display: inline;
    width: initial;
  } */
  /* Configuramos la tipografía para toda la web */
  body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--negro);
    /* opcional */
    line-height: 1.4em;
    /* opcional */
    font-smooth: always;
    /* opcional */
    -webkit-font-smoothing: antialiased;
    /* opcional */
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--fondo);
  }


/* Código Login */

.titleLogin {
    width: 100%;
    background-color: #A2FF86;
    text-align: center;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    margin-top: 50px;
    padding: 10px;
    font-size: 20px;
    font-weight:bold ;
}

.containerFather {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    z-index: -1;
}

.container {
    margin-top: 10%;
    background-color: var(--verde);
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px black;
    border-radius: 10px;
    margin-bottom: 10%;
}

.label{
    padding: 15px;
}

.forgotPassword {
    width: 100%;
    text-align: center;
    color: var(--claro);
    font-size: small;
    font-style: italic;
    text-decoration: underline;
}

.buttonSend {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: var(--claro);
    width: 70px;
    padding: 5px;
}

.input {
    background-color: var(--fondo);
    width: 95%;
    margin: auto;
    padding: 5px;
    color: white;
}

::placeholder {
    color: white;
}