* {
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #1B6B93;
 
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#newestevents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#upcomingevent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*carousel*/

.card {
    background-color: #a2ff86;
    border: 4px solid black;
    

    
} 

.carousel{
    width: 100%;
    margin: 0px 0px;
    position: relative;
    overflow: hidden;

}

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
        
}

#slick-track{
    
    position: relative;
    top: 0px;
    left: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
    z-index: 1;
    

}

.slick {
    position: relative;
    width: 100%;
    margin: 15px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    background-color: #a2ff86;
    border: 4px solid black;
    
    
    
    
}

.slick img {
    
    object-fit: cover;
    height: 150px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3 ease-in-out;
    
    
}


.slick img:hover {
    opacity: .85;
}

/*buttons*/

.slick-arrow{
    border-radius: 30px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
    z-index: 4;
    
    opacity: 1;
}

.slick-arrow:focus{
    outline: 0;
}

.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7)
}


.slick-prev {
    left: 20px;
    
}


.slick-next {
    right: 20px;
    z-index: 2;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    padding: 0;
    font-size: 4em;
}



/* streamer */


    
#streamer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    margin-top: 50px;
    background-color: #a2ff86;
    border-radius: 7px;
    border: 4px solid black
    
    

}

.triangle-container {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #D9D9D9; /* Cambia el color del triángulo aquí */
    z-index: 1; /* Traer el triángulo por encima de la imagen */
  }
  
  .image-container {
    position: relative;
    top: 0%; /* Ajusta la posición de la imagen según tus preferencias */
    left: 0%; /* Ajusta la posición de la imagen según tus preferencias */
    width: 120%; /* Ajusta el tamaño de la imagen según tus preferencias */
    height: 120%; /* Ajusta el tamaño de la imagen según tus preferencias */
    overflow: hidden;
    z-index: 2;
  }
  
  .triangle-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .texto{
    text-align: center;
  }

  
/*sponsor*/

.sponsor {
    width: 100%;
    height: 150px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a2ff86;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.sponsor {
    margin-bottom: 100px;
}

.sponsor div {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.sponsor img {
    width: 20%;
    height: 80%;
}

img.chupachups {
    width: 120px;
}


@media screen and (max-width: 767px) {

    

    .container {
        margin: 0 auto;
        margin-top: 100px;
    }

    .card{
        width:75%;
        
    }

    h1 {
        font-size: 2em;
    }

    .img-fluid.rounded-start {
        width: 100%;
    }   
    
    .slick-list {
        width: 100%;
    }

    #streamer {
        width: 66%;
        flex-direction: column;
    }

    .sponsor {
        width: 100%;
        
    }

    .sponsor div {
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .sponsor img {
        width: 25%;
        height: auto;
    }
}