* {font-family: 'Poppins', sans-serif;}

body {
    background-color: #1B6B93;
}

.box {
    
    background-color: #a2ff86;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10%;
    text-align: justify;
    margin-bottom: 1em;
}

.container {
    background-color: #1B6B93;
}

.divider {
    background-color: #1B6B93;
    padding: 5%; 
}

.titlesection {
    background-color: #a2ff86;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.title {
    width: 100%;
    margin-right: 0% !important;
    margin-left: 0% !important;
    font-weight: bolder;
}

.titlesection h1 {
    font-weight: bolder;
    font-size: 138.5%;
}

@media screen and (min-width: 992px) {
    .box {
        border: 3px solid black;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 2%;
        padding-left: 2%;
    }
    .divider {
        padding: 2%; 
    }
    .titlesection {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}